*{
	margin: 0;
	padding: 0;

}
body{
	background-image: url(https://www2unigpsin-site-content.s3.ap-south-1.amazonaws.com/wp-content/uploads/2020/10/19112144/Ambulance-tracking-features.png);
	background-size: 50%;
	background-position: -100px 20px;
}
div.main{
	width: 400px;
	margin: 100px auto 0px auto;
}
h2{
	text-align: center;
	padding: 20px;
	font-family: sans-serif;
}
div.register{
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	font-size: 18px;
	border-radius: 10px;
	border: 1px solid rgpa(255,255,255,0.3);
	box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
	color: #fff;
}
form#register{
	margin: 40px;
}
label{
	font-family: sans-serif;
	font-size: 18px;
	font-style: italic;

}
.submit{
	text-align: center;
	margin-left: 100px;
	font-size: 25px;
}